.footr-positioning{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#footer-link-style{
  font-size: 5rem;
  padding-top: 1rem;
  font-size: 1.3rem; 
color:  rgb(160, 60, 150);
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1; 
  border-top: 1px solid #ccc; 
  width: 100%;
  padding: 0rem 0rem 1rem 0rem;
  transition: background-color 0.3s;
  backdrop-filter: blur(10px);
  z-index: 1; 

}
