

h2{
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    
}

h4{
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}


.home-button-style{
    display: flex;
    justify-content: center;
}


.home-icon-style{
    font-size: 1.5rem;
}

.home-features{
    padding-bottom: 2rem;
}




.search-style{
    display: flex;
    justify-content: center ;
    padding-top: 1rem;
    width: 100%;
}

.home-flex-style{
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   gap: 1rem;
}

.libery-content{
    display: flex;
    flex-direction: column;
} 

#libery-li-style{
    font-weight: bold;
   
}
span{
    margin-inline-end: 0.4rem;
}

.delete-button{
    display: flex;
    justify-content: center;
    padding: 0.7rem;
}