.menu-style{
    font-size: 1rem;
    text-decoration: none;
    
}

.custom-menu .ant-menu-item {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 4px; 
}
  .custom-menu-item {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 4px; 
  }

  Menu{
    padding-bottom: 3rem;
  }